$black: #000;
$white: #fff;
$primaryColor: #ffcc00;
$primaryColor2: #f6e15a;

$hoverMenu: #f9420e;

$bgColor1: #ad5cec;
$bgColor2: #f7f405;
$bgColor3: #f7941e;
$priceColor: #fd475a;

$black2: #333;
$textColorFl: #fc521d;
