@import "../../../../../style/index.scss";
.slider-btn {
  @include locate-align-center();
  z-index: 10;
  &.left {
    left: 10px;
  }
  &.right {
    right: 10px;
  }
  button {
    width: 40px;
    height: 40px;
    padding-bottom: 4px;
    background-color: rgba($black2, 0.2);
    border: 1px;
    border-radius: 50%;
    color: $black;
  }
}
